<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <i class='fas fa-users' style='font-size:20px;'>&nbsp;<span style="font-size: 25px;">Add Type</span style="font-size: 25px;"></i>&nbsp;
            <ul class="breadcrumb">
              <li><a href="/dashboard">Dashboard</a></li>&nbsp; / &nbsp;
              <li><a href="/payment/subscription_type">Subscription Type</a></li>&nbsp; / &nbsp;
              <li>Add Type</li>
            </ul>
          </div>
      </div>
    </div>
  </section>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
            <div class="card-body">
                <form method="POST" action="/payment/save_type" class="">
                <div class="row mb-2">
                <div class="col-6">
                <div class="form-group">
                  <label for="exampleSelectBorder">Type</label>
                  <input class="form-control" id="type_add" name="type_add" type="text" value="">
                </div> 
                   </div>
                </div>
                <div class="row">
                     <div class="col-12">
                    <button class="btn btn-primary" type="submit" style="margin-left: 40vw;">Submit</button>
                   </div>
                </div>
            </form>
            </div>
            </div>
        </div>
    </div>
</div>