<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <i class='fas fa-users' style='font-size:20px;'>&nbsp;<span style="font-size: 25px;">Subscription Type</span style="font-size: 25px;"></i>&nbsp;
            <ul class="breadcrumb">
              <li><a href="/dashboard">Dashboard</a></li>&nbsp; / &nbsp;
              <li>Subscription Type</li>
            </ul>
          </div>
        <!-- <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">DataTables</li>
          </ol>
        </div> -->
      </div>
    </div><!-- /.container-fluid -->
  </section>


  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
            <div class="card">
                <!-- <div class="card-header">
                  <h3 class="card-title">DataTable with default features</h3>
                </div> -->
                <!-- /.card-header -->
                <div class="row mt-3">
                      <div class="col-12">
                        <!-- <button type="button" class="btn btn-light" style="border-radius: 9px; margin-left: 71vw;"><a href="/payment/add_type">Add Type</a></button> -->
                        <a href="/payment/add_type" class="btn btn-primary float-end" style="margin-left: 71vw; border-radius: 7px;">Add Type</a>
                      </div>
                    </div>
                <div class="card-body">
                    <table id="example2" class="table table-bordered table-hover">
                    <thead>
                    <tr>
                      <th>#</th>
                      <th>Name</th>
                      <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>                     
                       <% if(type_data.msg.length > 0){
                         var i = 1
                         type_data.msg.forEach(dt => { %>
                       <tr>
                         <td><%= i %></td>
                         <td><%= dt.pay_name %></td>
                         <td><a class="btn btn-primary view-button" href="/payment/add_type=<%= dt.id %>"><i class='fas fa-eye'></i</a></td>
                       </tr>
                     <% i++; })
                     } %>
                    </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
      </section>