<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <i class='fa fa-paper-plane' style='font-size:20px;'>&nbsp;<span style="font-size: 25px;">Send Email</span style="font-size: 25px;"></i>&nbsp;
            <ul class="breadcrumb">
              <li><a href="/dashboard">Dashboard</a></li>&nbsp; / &nbsp;
              <li>Send Email</li>
            </ul>
          </div>
      </div>
    </div>
  </section>


  <section class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-outline card-info">
          <div class="card-header">
            <h1 class="card-title">
              <b>Send Email to User</b>
            </h1>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <form method="post" action="/email/send_email" class="">
            <textarea id="summernote" name="summernote">
              Place <em>some</em> <u>text</u> <strong>here</strong>
            </textarea>
            <div class="col-12">
                <button class="btn btn-primary" type="submit" style="float: right;">Send Email</button>
            </div>
        </form>
          </div>
        </div>
      </div>
      <!-- /.col-->
    </div>
    <!-- ./row -->
    
    <!-- ./row -->
  </section>